@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import "tailwindcss";

.image-hero{
  background-image: url('/src/assets/pictures/heroFrame.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.main {
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
}

.pinyon-script-secondary {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 300;
  font-style: normal;
}
